* {
    box-sizing: border-box;
}


body {
    background-color: white;
    font-family: "josefin sans", sans-serif;
}

h1, h2 {
    text-decoration: underline;
}

.url {
    color: blue;
    text-decoration: bold;
}